@import url(https://fonts.bunny.net/css?family=albert-sans:400,700);
@import url(https://fonts.bunny.net/css?family=anonymous-pro:400,700);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900);

@import 'tailwindcss';

@theme {
   --font-albertSans: 'Albert Sans', sans-serif;
   --font-anonymousPro: 'Anonymous Pro', monospace;
   --font-montserrat: 'Montserrat', sans-serif;
}
